[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
docker = "*"
flask = "*"
gunicorn = "*"
pyhocon = "*"
redis = "*"
requests = ">=2.20.0"

[dev-packages]
coverage = "*"
flake8 = "*"
yapf = "*"
