boto3==1.4.8
botocore==1.8.5
click==6.7
docutils==0.14
Flask==0.12
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.0
pkg-resources==0.0.0
python-dateutil==2.6.1
requests==2.12.4
s3transfer==0.1.12
six==1.11.0
Werkzeug==0.14.1
