/cache
/secrets
.envrc
output

# Python
*.egg-info
.environment
__pycache__
build
dist

# Intellij
.idea
*.iml

# Ansible
*.retry

# Terraform
.terraform
*.tfstate.backup

# Make controller api available from the CLI
cli/src/plz/controller
