[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
glob2 = "*"
python-dateutil = "*"
docker = "*"
requests = "*"
prettytable = "*"
urllib3 = "*"

[dev-packages]
flake8 = "*"
flask = "*"
nose = "*"
